/*
	Jose L. Padilla 3-26-2020
*/

header { background-color:#D2B48C;
	background-image: url("pizza-1.png");
	height: 150px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: left top;
	background-size: 200px 150px;
}
	
h1 { padding-top: 45px;
	padding-left: 220px;
	font-size: 3em;
	text-align: center;
}
	
#wrapper { background-color: #DCDCDC;
	min-width: 900px;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 10px 10px 5px grey;
}
	
body { background-color:#4169E1;
	font-family: Verdana, Arial, sans-serif;
}
	
Main {padding-left: 10px;
	padding-bottom: 5px;
}
.button { border: solid;
	font-size: 16px;
}
	
footer	{ background-color: #D2B48C;
	font-size: .6em;
	font-style: italic;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 2px;
}